<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>rare_pepes</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- Webapp Stuffs -->
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='touch-icon.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
		<meta name="viewport" content="width=device-width, initial-scale=0.7">

		<meta name="theme-color" content="#607D8B">
		<meta name="mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-title" content="rare_pepes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.js"></script>

		<script>
		// Service workers require HTTPS (http://goo.gl/lq4gCo). If we're running on a real web server
		// (as opposed to localhost on a custom port, which is whitelisted), then change the protocol to HTTPS.
		if ((!location.port || location.port == "80") && location.protocol != 'https:') {
			location.protocol = 'https:';
		}
		</script>

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="ui menu inverted navbar page grid">
			<a href="/" class="brand active item">rare_pepes</a>
			<div class="right menu">
				<a href="#" class="item menu_big" onclick="$('.ui.modal').modal('show')">tutorial</a>
				<a href="https://imgur.com/a/U2dTR" class="item menu_big">rare pepes, do not steel</a>
				<span class="item">{{num_pepes}} pepes on record</span>
				<span id="votes" class="item" data-votes={{num_votes}}>{{num_votes}} votes on record</span>
			</div>
		</nav>
		{% block body %}
		{% endblock %}
		<script type="text/javascript">
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('service-worker.js', {scope: './'});
		}
		</script>
	</body>
</html>