{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>

<style>
	#nprogress .bar {
		height: 4px;
	}

	.pepe {
		width: 100%;
		height: 100%;
		min-height: 100%;
		min-width: 100%;
		cursor: pointer;
	}
</style>

{% endblock %}

{% block body %}

<div class="ui two column middle aligned very relaxed fitted stackable grid">
	<div class="column" id="p1c">
		<img id="p1" class="pepe"/>
		<div id="p1dimmer" class="ui dimmer">
			<div class="ui text loader">Loading</div>
		</div>
	</div>
	<div class="ui vertical divider">Or</div>
	<div class="column" id="p2c">
		<img id="p2" class="pepe"/>
		<div id="p2dimmer" class="ui dimmer">
			<div class="ui text loader">Loading</div>
		</div>
	</div>
</div>

<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		Tutorial
	</div>
	<div class="content">
		<div class="ui medium image">
			<img src="http://i3.kym-cdn.com/photos/images/original/000/862/065/0e9.jpg">
		</div>
		<div class="description">
			<div class="ui header">How does this work?</div>
			<p>Every turn you're presented with two pepes.</p>
			<p>Click on the pepe you're the least fammiliar with.</p>
		</div>
	</div>
	<div class="actions">
		<div class="ui positive right labeled icon button">
			Ok
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='rare_pepes.js') }}"></script>

{% endblock %}